/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : Taylor Steele
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */
:root {  /* Declare color variables here*/
    --background-color: #fff;
    --text-color: #121212;
    --secondary-neutral: #bdbdbd;
  } 

  .dark-mode{
    --text-color: #fff;
    --background-color: #121212;
    --secondary-neutral: #616161;
  }
  
  
  body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  
  #header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  #hero{
    height: 424px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .typing-container {
    position: relative;
}

#text {
    font-size: 24px;
    margin: 0;
    padding-right: 10px; /* Create space for the cursor */
    display: inline-block;
}

#cursor {
    position: absolute;
    width: 8px;
    height: 24px;
    background-color: var(--text-color);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

  .main-width{
    width: 1264px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-neutral);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--secondary-neutral);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Style the tab */
.tab {
  overflow: hidden;
}
.tablinks{
  color: var(--text-color);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 24px 14px 0px;
  transition: 0.3s;
}

.tab button{
  color: var(--secondary-neutral);
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: var(--secondary-neutral);
}

/* Create an active/current tablink class */
.tab button.active {
  color: var(--text-color);
}

/* Style the tab content */
.tabcontent {
  color: var(--text-color);
  display: none;
  padding: 6px 12px;
  border-top: none;
}