/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : Taylor Steele
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */
:root {  /* Declare color variables here*/
    --NagiosBlue: #4D89F9;
    --BackgroundBlue: #00061B;
    --MatteBlueDark:#141A2D;
    --Teal:#60D2D2;
    --Text1:#d9e6ff;
    --Text2:#dfdfdf;
  } 

  
